.container {
    width: 1400px;
    height: 700px;
    background-image: url(./images/Image\ \(4\).png);
    background-size: contain;
    background-repeat: no-repeat;

}

h3 {
    color: white;
    font-size: 50px;
    font-weight: 900;
    backdrop-filter: blur(5px);
}